
<div class="flex">
	<ul class="social">	
		<li><a class="fa fa-github" target="_blank"	type="text/html" href="https://github.com/jaceldran"> GitHub</a></li>
		<li><a class="fa fa-twitter" target="_blank" type="text/html" href="https://twitter.com/jaceldran"> Twitter</a></li>
		<li><a class="fa fa-linkedin" target="_blank" type="text/html" href="https://linkedin.com/in/jaceldran"> LinkedIn</a></li>
	</ul>
	<ul class="social">							
		<li><a class="icon-brand" target="_blank" type="text/html" href="http://sonimatec.com"> Sonimatec</a></li>
		<li><a class="fa fa-envelope" type="text/html" href="contact.html"> jaceldran@gmail.com</a></li>
	</ul>
</div>